body {
  background-color: black;
  margin: 0;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 30px;
  color: white;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.cell {
  padding: 5px;
  width: 90vmin;
}

.status {
  font-size: 15px;
  opacity: 0.5;
}

.right{
    float:right;
}

.left{
    float:left;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#sats_per_dollar {
  border-radius: 15px;
  width: 90vmin;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  white-space: nowrap;
  left: -10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dialog-border {
  padding: 8px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: black;
  z-index: 1;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}