body {
  background-color: black;
  margin: 0;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 30px;
  color: white;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.cell {
  padding: 5px;
  width: 90vmin;
}

.status {
  font-size: 15px;
  opacity: 0.5;
}

.right{
    float:right;
}

.left{
    float:left;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#sats_per_dollar {
  border-radius: 15px;
  width: 90vmin;
}
