body {
  background-color: black;
  margin: 0;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 15px;
}

#background {
  position: fixed;
  top: 8px;
  left: 8px;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#border {
  position: absolute;
  top: 8px;
  left: 8px;
}

#hodl {
  position: absolute;
  display: none;
  image-rendering: pixelated;
  transform: scale(1);
  transform-origin: top left;
}

.label {
  position: absolute;
  height: 20px;
}

.dot {
  position: absolute;
  height: 4px;
  width: 4px;
  image-rendering: pixelated;
  content: url("dot.png");
}

.line {
  content: url("line.png");
}

#index {
  position: fixed;
  top: 16px;
  right: 32px;
  pointer-events: none;
}

#marker {
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: black;
  display: none;
}

#gradient {
  position: absolute;
  top: 11px;
  left: -32px;
}

.entry {
  height: 20px;
}

#tip {
  position: fixed;
  top: 16px;
  left: 16px;
  display: none;
  pointer-events: none;
}

#about {
  width: 300px;
  position: fixed;
  top: 16px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  display: none;
}

#help {
  width: 300px;
  position: fixed;
  top: 91px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  display: none;
}

#x-axis {
  width: 300px;
  position: fixed;
  bottom: 32px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  pointer-events: none;
}

#y-axis {
  height: 300px;
  position: fixed;
  left: 16px;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  pointer-events: none;
}

@media screen and (max-width: 950px) {
  #tip {
    top: 91px;
  }
  #help {
    top: 191px;
  }
}

@media screen and (max-width: 630px) {
  #index {
    top: initial;
    bottom: 30px;
    transform: scale(0.5);
    transform-origin : 100% 100%;
  }
}
