body {
  background-color: black;
  margin: 0;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 15px;
}

#background {
  position: fixed;
  top: 8px;
  left: 8px;
  height: calc(100vh - var(--scrollbar-width) - 16px);
  width: calc(100vw - var(--scrollbar-width) - 16px);
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#border {
  position: absolute;
  top: 8px;
  left: 8px;
}

#hodl {
  position: absolute;
  display: none;
  image-rendering: pixelated;
  transform: scale(1);
  transform-origin: top left;
}

#labels {
  position: absolute;
  top: 8px;
  left: 8px;
}

.label {
  position: absolute;
  width: 140px;
  text-align: right;
  transform: rotate(-45deg);
}

.dot {
  position: absolute;
  height: 4px;
  width: 4px;
  image-rendering: pixelated;
}

#index {
  position: fixed;
  bottom: calc(var(--scrollbar-width) + 16px);
  left: 54px;
  pointer-events: none;
}

.grid {
  position: absolute;
  border-style: solid;
  opacity: 0.4;
  border-width: 0 0 1px 1px;
  pointer-events: none;
  display:table-cell;
  vertical-align: text-bottom;
}

.minor {
  border-style: dashed;
  opacity: 0.2;
}

#marker {
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: black;
  display: none;
}

#gradient {
  position: absolute;
  top: 11px;
  left: -32px;
}

.entry {
  height: 20px;
}

#tip {
  position: fixed;
  top: 16px;
  left: 16px;
  display: none;
  pointer-events: none;
}

#about {
  width: 300px;
  position: fixed;
  top: 16px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  display: none;
}

#help {
  width: 300px;
  position: fixed;
  top: 91px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  display: none;
}

#x-axis {
  width: 300px;
  position: fixed;
  bottom: 32px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  pointer-events: none;
}

#y-axis {
  height: 300px;
  position: fixed;
  left: 16px;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  pointer-events: none;
}

@media screen and (max-width: 950px) {
  #tip {
    top: 91px;
  }
  #help {
    top: 191px;
  }
}

@media screen and (max-width: 630px) {
  #index {
    transform: scale(0.5);
    transform-origin : bottom left;
    left: 36px;
  }
}
