@font-face {
    font-family: 'AnonymousPro-Regular';
    src: url('AnonymousPro-Regular.woff2') format('woff2'),
        url('AnonymousPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  font-family: 'AnonymousPro-Regular';
  font-size: 28px;
  color: white;
}

#center {
  display: block;
  width: 1193px;
  padding-left: 20px;
  padding-right: 20px;
}

.fragment {
  border: 10px;
  border-color: BLACK;
  border-radius: 10px;
  padding: 1px 3px 1px 6px;
  margin: -1px -3px -1px -6px;
}

.fragment-fade {
  border-color: BLACK;
  transition: background-color 0.2s; 
}

.fragment-highlight {
  background-color: GRAY;
  transition: background-color 0.2s; 
}

#annotations {
  position: relative; 
  max-width: 100%;
}

#annotations-content {
  position: absolute;
}

.annotation {
  display: none;
  font-size: 20px;
}

.annotation-show {
  display: block;
}

#content {
  /* line-height: 30px; */
  /* width: 1200px; */
}

.cell {
  padding: 10px 0px 10px 0px;
}

.status {
  font-size: 15px;
  opacity: 0.5;
}

.right{
  float:right;
}

.left{
  float:left;
}

p {
  text-indent: 40px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

/* 
@media screen and (max-width: 950px) {
  html {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 630px) {
  html {
    transform: scale(0.5);
  }
} */
